<body bgcolor="#e1e8ed" style="-webkit-text-size-adjust:none; margin:0; padding:0;"> 
<!-- send files email template: do not replace %these_values% -->
<table width="100%" border="0" cellpadding="10" cellspacing="0" align="center" bgcolor="#FFFFFF" style="border-radius: 4px; max-width: 600px;">
	<tr>
        <th align="center" style="border-bottom: 1px solid #e1e8ed;">
            <a href="%app_url%" title="%app_name%"><img src="cid:logoimg" alt="%app_name%"/></a>
        </th>
	</tr>
	<tr>
		<td style="text-align:center;">
			%translate_new_user_has_been_created%
			<br><br>
			<strong>%translate_username%:</strong> %username%
			<br>
			<strong>%translate_password%:</strong> %password%
			<br><br>
			<strong>%translate_link%:</strong> %link%
		</td>
	</tr>	
</table>
</body>