<body bgcolor="#e1e8ed" style="-webkit-text-size-adjust:none; margin:0; padding:0;"> 
    <!-- send files email template: do not replace %these_values% -->
    <table width="100%" border="0" cellpadding="10" cellspacing="0" align="center" bgcolor="#FFFFFF" style="border-radius: 4px; max-width: 600px;">
        <tr>
            <th align="center" style="border-bottom: 1px solid #e1e8ed;">
                <a href="%app_url%" title="%app_name%"><img src="cid:logoimg" alt="%app_name%"/></a>
            </th>
        </tr>
        <tr>
            <td style="text-align:center;">
                New Event has been uploaded
                <br><br>
                <strong>Client Name:</strong> %fullname%
                <br><br>
                <strong>Event Category:</strong> %eventcategory%
                <br><br>
                <strong>Event Name:</strong> %eventname%
                <br><br>
                <strong>Event Date:</strong> %eventdate%
                <br><br>
                <strong>Event Link:</strong> <a href="%eventlink%">%eventlink%</a>
                <br>
                <strong>Event Details:</strong> 
                <div>
                    <pre>%eventdetails%</pre>
                    <br><br>
                </div>
                
            </td>
        </tr>	
    </table>
    </body>