<body bgcolor="#e1e8ed" style="-webkit-text-size-adjust:none; margin:0; padding:0;"> 
    <!-- activate account email template: do not replace %these_values% -->
    <table width="100%" border="0" cellpadding="10" cellspacing="0" align="center" bgcolor="#FFFFFF" style="border-radius: 4px; max-width: 600px;">
        <tr>
            <th align="center" style="border-bottom: 1px solid #e1e8ed;">
                <a href="%app_url%" title="%app_name%"><img src="cid:logoimg" alt="%app_name%"/></a>
            </th>
        </tr>
        <tr>
            <td>
                <table width="80%" border="0" align="center" cellspacing="0" cellpadding="20">
                    <tr>
                        <td style="text-align: center;">
                            %translate_email%
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            %translate_name%
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            %translate_phone%
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            %translate_occupation%
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            %translate_address%
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </body>